<div class="menu-container">
    <mat-card class="menu-card">
      <mat-card-header>
        <mat-icon>person</mat-icon>
        <mat-card-title>Gestión de Clientes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Administra la información de tus clientes.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="navigateTo('clientes')">Ir a Gestión de Clientes</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="menu-card">
      <mat-card-header>
        <mat-icon>inventory</mat-icon>
        <mat-card-title>Gestión de Inventario</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Administra el inventario de productos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="navigateTo('inventario')">Ir a Gestión de Inventario</button>
      </mat-card-actions>
    </mat-card>
  </div>