<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport>
    <mat-nav-list>
      <mat-list-item (click)="navigateTo('clients'); sidenav.close()">Gestión de Clientes</mat-list-item>
      <mat-list-item (click)="navigateTo('users'); sidenav.close()">Gestión de Inventario</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema Cafeteria</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>