.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.login-header {
  margin-bottom: 20px;
}

.login-icon {
  font-size: 80px !important; /* Asegúrate de que el tamaño del ícono sea grande */
  color: #795548; /* Color marrón para el ícono */
}

h1 {
  margin: 0;
  font-size: 2.5em;
  color: #795548; /* Color marrón para el título */
}

mat-form-field {
  width: 100%;
  max-width: 300px;
}

button {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}