<div class="login-container">
  <div class="login-header">
    <mat-icon class="login-icon">local_cafe</mat-icon>
    <h1>Sistema Cafeteria</h1>
  </div>
  <form (ngSubmit)="onLogin()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" name="username" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>